body {
  background-color: #EFEFF2;
  margin: 0;
  color: #19191C;
  font: 400 18px/28px Inter, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  padding: 36px 0 0;
  margin: 0 0 80px;
  justify-content: space-between;
}

.header__box {
  display: flex;
  align-items: center;
  gap: 68px;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 48px;
  padding: 0;
  margin: 0;
  font-size: 18;
  line-height: 22px;
  font-weight: 600;
}

.header__link {
  color: #19191C;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
}

.header__btn {
  background-color: #19191C;
  color: #EFEFF2;
  padding: 12px 37px;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  border: none;
}

.btn-box {
  display: flex;
  gap: 48px;
  align-items: center;
  color: #19191C;
}

.logo {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  color: #19191C;
}

.offer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 230px;
  background: url(man.png) 100% 100% no-repeat,
   url(rectangle-background.png) 87% 100% no-repeat,
    url(ellipse-2.png) 80% 200% no-repeat,
     url(ellipse-3.png) 90% 10% no-repeat;
}

.offer__holder {
  width: 648px;
  padding-top: 150px;
  background: url(ellipse-1.png) 100% 100% no-repeat;
}

.offer__link {
  font-weight: 700;
  text-decoration: none;
  color: #584DEE;
}

.offer__title {
  font-size: 58px;
  line-height: 70px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.offer__description {
  font-size: 18px;
  line-height: 28px;
  margin-top: 18px;
  padding: 0;
}

.button {
  background: #584DEE;
  color: #FBFBFC;
  border: none;
  padding: 16px 37px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 62px 0 110px;
}

.offer__sale {
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  margin: 0;
  padding: 0;
}

.offer__time {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 8px;
  padding: 0;
}

.offer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  position: relative;
}

.offer__item {
  position: absolute;
  border: 2px solid #19191C;
  padding: 11px 34px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.offer__marketer {
  top: 197px;
  right: 122px;
}

.offer__illustrator {
  top: 101px;
  right: 344px;
}

.offer__animator {
  top: 183px;
  right: 583px;
}

.offer__programmer {
  top: 376px;
  right: 691px;
}

.offer__designer {
  top: 539px;
  right: 840px;
}

.offer__photographer {
  top: 694px;
  right: 709px;
}

.learn {
  background:#19191C;
  color: #FBFBFC;
  padding: 168px 0 159px 0;
}

.learn-container {
  display: flex;
}

.learm__text {
  width: 588px;
}

.learn__title {
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: #FBFBFC;
}

.learm__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #EFEFF2;
}

.learn__counters {
  display: flex;
  gap: 86px;
  margin-left: 142px;
}

.learn__counter-item {
  width: 178px;
}

.learn__counter-number {
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  margin: 0 0 10px;
}

.learn__counter-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #EFEFF2;
}

.discover {
  background: #FBFBFC;
  padding: 168px 0 168px 0;
}

.discover__title {
  width: 594px;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: #19191C;
}

.discover__categories {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  margin-bottom: 56px;
}

.discover__list {
  display: flex;
  list-style: none;
  padding: 0;
  width: 896px;
  gap: 48px;
  margin: 0;
  padding: 0;
}

.discover__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  border: none ;
  background: none;
  color: #19191C;
  padding: 0;
  margin: 0;
}

.see-more__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #19191C;
  text-decoration: none;
}

.see-more__img {
  margin-left: 18px;
  vertical-align:middle
}

.discover__cards {
  display: none;
  gap: 20px;
}

.discover__cards.active {
  display: flex;
}

.discover__button.active {
  font-weight: 700;
  line-height: 22px;
  padding-bottom: 9px;
  border-bottom: 4px solid #19191C;
}

.discover__card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #19191C;
  margin: 28px 0 11px 0;
}

.discover__card-length {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6D6D77;
  padding: 0;
  margin: 0;
}

.find-program {
  padding: 168px 0 168px 0;
  background: #DEEFE4;
}

.find-program__info {
  display: flex;
}

.find-program__text {
  width: 800px;
}

.find-program__title {
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: #19191C;
  padding: 0;
  margin: 0;
}

.find-program__descrition {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #19191C;
}

.find-program__input {
  border: none;
  border-bottom: 2px solid #19191C;
  background-color: #DEEFE4;
  margin: 24px 0 24px 0;
  padding: 0;
  width: 710px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

input[type="text"]::placeholder {
  color: #19191C;
}

input[type="email"]::placeholder {
  color: #19191C;
}

.find-program__btn {
  background-color: #19191C;
  color: #EFEFF2;
  padding: 16px 36px;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  border: none;
  margin-top: 44px;
}

.footer {
  background-color: #19191C;
  padding: 59px 240px 0 240px;
}

.footer__info {
  display: flex;
}

.footer__contacts-list {
  margin: 0;
  padding: 0;
}

.footer__contacts-logo {
  color: #FBFBFC;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 15px 0;
}

.footer__contacts-link {
  color: #FBFBFC;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  padding: 28px 0 0 0 ;
}

.sitemaps {
  display: flex;
  gap: 200px;
  margin-left: 146px;
}

.sitemap__title {
  color: #FBFBFC;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 0;
  margin: 9px 0 22px 0;
}

.sitemap__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitemap__item {
  margin: 0;
  padding: 6px 0 6px 0;
}

.sitemap__link {
  color: #EFEFF2;
  text-decoration: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 0;
  margin: 0;
}

.copyright {
  display: flex;
  margin: 100px 0 0 498px;
}

.copyright__link {
  color: #6D6D77;
  text-decoration: none;
}

.copyright__info {
  color: #6D6D77;
  margin: 0 0 0 28px;
}

@media screen and (max-width: 1380px) {
  .header {
    flex-wrap: wrap;
  }
  
  .header__box {
    flex-wrap: wrap;
  }
  
  .nav__list {
    flex-wrap: wrap;
  }
  
  .btn-box {
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width:884px) {
  .btn-box {
    margin-top: 50px;
  }
}

@media screen and (max-width:365px) {
  .nav__list-item {
    flex: 1 1 100%;
  }
  
  .header__link {
    flex: 1 1 100%;
  }

  .btn-box {
    flex-wrap: wrap;
    margin-top: 50px;
  }

}

@media screen and (max-width:1380px) {
  .offer {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    background:
     url(ellipse-2.png) 80% 200% no-repeat,
      url(ellipse-3.png) 90% 10% no-repeat;
  }
  
  .offer__holder {
    padding-top: 0;
  }
  
  .offer__list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  
  .offer__item {
    position:unset;
    display: flex;
    flex-wrap: wrap;
    flex:100%;
    justify-content: center;
  }
} 

@media screen and (max-width:1439px) {
  .learn__counter-item {
    flex: 1 1 100%;
  }

  .learn__counters {
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 0;
  }

  .learn-container {
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 1471px) {
  .discover__title {
    width:unset;
  }

  .discover__categories {
    flex-wrap: wrap;
  }

  .discover__list {
    flex-wrap: wrap;
  }

  .see-more__btn {
    margin-top: 50px;
  }

  .discover__cards {
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width:1439px){
  .find-program__info {
    flex-wrap: wrap;
  }

  .find-program__input {
    width: unset;
  }
}

@media screen and (max-width:1680px) {
  .footer {
    padding: 10px 10px;
  }
  .footer__info {
    flex-wrap: wrap;
  }

  .sitemaps {
    flex-wrap: wrap;
    padding: 0;
    gap: 75px;
  }

  .copyright {
    margin: 0;
    padding: 10px 10px;
  }
}

@media screen and (max-width:1135px) {
  .sitemaps {
    margin-left: 0;
  }
}

@media screen and (max-width:988px) {
  .sitemaps {
    margin-top: 75px;
  }
}